<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Real-Time Web Production</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <script src="app.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="icon" type="image/png" href="img/favicon.ico" />
</head>

<body>
{{{body}}}
  <template>
      <div class="user-image"><img src="" style=" width: 60px;
  height: 60px;"/></div>
        <div class="github-user"></div>
        <div class="user-action">
            <p></p>
  </template>

</body>

</html>